#card-container {
    overflow-x: auto;
}

#card-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#card-container table thead {
    font-weight: 600;
}

#card-container table thead td {
    background-color: #4da3bb;
    color: white;
    border: none;
    padding: 6px 0;
}

#card-container table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}

#card-container table td:nth-child(1) {
    width: 100px;
}

#card-container table td:nth-child(2),
#card-container table td:nth-child(3) {
    width: 200px;
}

#card-container table td:nth-child(4),
#card-container table td:nth-child(5),
#card-container table td:nth-child(6) {
    width: 170px;
}

#card-container table tbody button i {
    color: rgb(52, 51, 51);
}

#card-bottom .coupon>div,
#card-bottom .total>div {
    border: 1px solid #b6b3b3;
}

#card-bottom .coupon h5,
#card-bottom .total h5 {
    background-color: #4da3bb;
    color: white;
    padding: 6px 12px;
    font-weight: 700;
}

#card-bottom .coupon p,
#card-bottom .coupon input {
    padding: 0 12px;
}

#card-bottom .coupon input {
    height: 44px;
}

#card-bottom .coupon input,
#card-bottom .coupon button {
    margin: 0 0 12px 12px;
}

#card-bottom .total div>div {
    padding: 0 12px;
}

#card-bottom .total h6 {
    color: #2a2a2a;
}

.second-hr {
    background-color: #b8b7b3;
    width: 100%;
    height: 1px;
}

#card-bottom .total div>button {
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}