/* Poppins Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #4070f4;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

    background-image: url("../images/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form {
    /* Login dissapears with 'absolute' */
    position: absolute;
    background: #fff;
    border-radius: 6px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
}

/* Login appears cus Signup is set transparent */
.form.signup {
    opacity: 0;
    pointer-events: none;
}

/* When click on Sign Up, it will appear cus we set off transparency  */
.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    height: 45px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    border: 1px solid #cacaca;
    padding: 0 15px;
}

.field input:focus {
    border-bottom-width: 3px;
}

.eye-icon {
    font-size: 18px;
    color: #8b8b8b;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #066fcbde;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link a,
.form-link span {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    text-decoration: none;
    color: #0171d3;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 2px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #232836;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    background-color: #fff;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #cacaca;
}

a.google span {
    color: #232836;
    opacity: 0.7;
    font-weight: 500;
}

@media only screen and (max-width: 400px) {
    .form {
        padding: 15px 10px;
    }
}