.product img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

#featured>div.row.mx-auto.container>nav>ul>li.page-item.active>a {
    background-color: black;
}

#featured>div.row.mx-auto.container>nav>ul>li:nth-child(n):hover>a {
    background-color: rgb(27, 130, 247);
    color: white;
}

.pagination a {
    color: black;
}